# ignore intermediate data
data/*
carbon/export/*
# ignore plots
*.png
*.pdf
plots/*
# ignore RStudio stuff
*.Rproj
.Rhistory
.Rproj.user*
.Rproj.user
.RData
raw_particlecount_data/*
analysis-orientation.R
